.trending-container {
  border-radius: 20px;
  margin-bottom: 14px;
  padding: 20px;
  width: 356px;
  border: $color-2 solid 2px;

  h4 {
    font-size: 1.2rem;
    color: $color-2;
    margin-bottom: 12px;
  }
  ul {

    li {
      margin: 5px 0;
      display: grid;
      align-items: center;
      grid-template-columns: 68px 1fr;
      background: $color-2;
      border-radius: 20px;
      padding: 16px;
      box-shadow: 2px 2px 5px 2px $shadow;
      transition: .2s;
      margin-bottom: 20px;

      &:hover {
        box-shadow: 5px 5px 15px 5px $shadow;
      }

      div {
        height: 56px;
      }

      img,
      iframe {
        height: 56px;
        width: 56px;
        border-radius: 20px;
        object-fit: cover;
        box-shadow: 0 0 4px rgba(51, 51, 51, 0.233);
      }
      .trend-content {
        position: relative;
        height: 56px;

        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          font-size: .9rem;
          color: $white;
        }
        span {
          color: $color-1;
          font-family: $font-2;
          position: absolute;
          right: 6px;
          bottom: -11px;
        }
      }
    }
  }
}
